@import '../variables';

body {
  font-family: $text-font;
  color: $text-color;
}

//
// Titles
// ----------------------------------------------
%title {
  color: $title-color;
  font-family: $title-font;
}

.title {
  @extend %title;
}

.banner-title {
  @extend %title;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0 1em;
  .subtitle {
    margin-top: -0.5em;
    font-size: 0.325em;
    display: block;
  }
}

.page-title {
  @extend %title;  
  font-size: 3rem;
  text-align: center;
  margin: 1em 0 1em;
  .subtitle {
    font-size: 0.325em;
    font-style: italic;
    font-family: $text-font;
    display: block;
  }
}

.section-title {
  @extend %title;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1em 0 0.5em;
}


//
// Text
// ----------------------------------------------
p {
  font-size: 1.125rem;
  line-height: 1.4;
}
.big-text {
  font-size: 1.25rem;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}